html,
body {
	height: 100%;
	width: 100%;
}
.navbar {
	padding: .8rem;
	background: #212529 !important;
}
.navbar-brand {
	display: flex;
	align-items: center;
	color: gainsboro !important;
}
.navbar-brand img {
	border-radius: 50%;
	margin-right: 0.5rem;
}
.navbar-nav ul {
	padding-right: 20px;
}
.nav-link {
	font-size: 1.1em;
	color: gainsboro !important;
}
.padding {
	padding-bottom: 3rem;
}
.row-welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 3rem;
}
.row-welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.btn {
	margin-top: .5rem;
	margin-bottom: .5rem;
	color: white;
}
.btn-primary {
	background-color: #0d6efd;
	border: 1px solid #0d6efd;
}
.btn-primary:hover {
	background-color: #0b5ed7;
	border: 1px solid #0a58ca;
}
.btn-secondary {
	background-color: #6c757d;
	border: 1px solid #6c757d;
}
.btn-secondary:hover {
	background-color: #5c636a;
	border: 1px solid #565e64;
}
.btn-outline-secondary {
	background-color: #0d6efd;
	border: 1px solid #0d6efd;
}
.btn-outline-secondary:hover {
	background-color: #0b5ed7;
	border: 1px solid #0a58ca;
}
.p-3 {
	background-color: #000;
	color: #fff !important;
}
