html,
body {
	height: 100%;
	width: 100%;
}
.navbar {
	padding: .8rem;
	background: #212529 !important;
}
.navbar-nav ul {
	padding-right: 20px;
}
.nav-link {
	font-size: 1.1em;
	color: gainsboro !important;
}
