html,
body {
	height: 100%;
	width: 100%;
}
.navbar {
	padding: .8rem;
	background: #212529 !important;
}
.navbar-brand {
	display: flex;
	align-items: center;
	color: gainsboro !important;
}
.navbar-brand img {
	border-radius: 50%;
	margin-right: 0.5rem;
}
.navbar-nav ul {
	padding-right: 20px;
}
.nav-link {
	font-size: 1.1em;
	color: gainsboro !important;
}
